body {
font-family: "Courier New";
color: cyan;
background-image: url("stars.gif");
}

hr {
color: cyan;
}

a {
color: cyan;
}

a:hover {
color: darkturquoise;
}

img  {
width: 83px;
height 28px;
}

.content {
text-align: left;
}

.winds {
font-family: "Wingdings";
}

.webds {
font-family: "Webdings";
}